__pycache__
/.ipynb_checkpoints
.vs
/files/extractor/g1Ceara/urls_g1_geral.csv
/files/classifier/base_impartial.csv
/files/classifier/base_partial.csv
/files/classifier/base_test.csv
/files/base_analytics.csv
/files/base_analytics_final.csv
